.names{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 325px;
    transition-duration: 0.4s;
    padding: 10px;
    width: 50%;
    text-align: center;
    background-color: #ebeeef;
}

.chat-head{
    text-align: center;
    padding-bottom: 10px;
}

.names:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px grey;
}

@media only screen and (max-width: 700px){
    .names{
        border: 2px solid black;
        border-radius: 10px;
        margin: 10px 15px;
        transition-duration: 0.4s;
        padding: 10px;
        width: 90%;
        text-align: center;
    }
    .chat-head{
        text-align: center;
        padding-bottom: 10px;
    }
}